/* Roboto Fonts */

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-size: 14px;
  font-family: 'RobotoRegular', sans-serif;
  min-width: 1200px;
}

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {padding: 16px; background: #eee;}

/* Standart styles
-------------------------------------------------------------------------------*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cover-bg{
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.display-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.section-text > p{
  font-family: "RobotoRegular";
  line-height: 24px;
  color: #333;
  font-size: 16px;
  margin: 15px auto;
}

/* Header styles
-------------------------------------------------------------------------------*/

#header{
  width: 100%;
  background: #fff;
  background-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.header-inner {
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#header.sticky .header-inner{
  padding: 10px 0;
}

.main-nav{
  position: relative;
  text-align: left;
}

#logo{
  height: 40px;
  margin-top: 5px;
  display: inline-block;
}

#logo img {
  height: 100%;
  width: auto;
  max-width: none;
}

#menu {
  float: right;
  text-align: right;
  height: 50px;
}

#menu > li{
  display: inline-block;
  padding: 0px 10px;
  position: relative;
}

#menu li > a{
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding: 15px 0px;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#menu li > a:after{
  content: "";
  width: 100%;
  bottom: 0;
  background: transparent;
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#menu li > a.selected{
  color: #006db7;
  pointer-events: none;
  cursor: default;
}

#menu li > a.selected:after{
  background: #006db7;
}

#menu li > a:hover{
  color: #006db7;
}

#menu li > a:hover:after{
  background: #006db7;
}

.phone {
  float: right;
  text-align: right;
  height: 50px;
  padding: 10px 0px;
  margin-left: 25px;
}

.phone > a{
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  background: #006db7;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.phone > a:hover{
  background: #005792;
}

/* Main-section styles
-------------------------------------------------------------------------------*/

#main{
  position: relative;
  height: 100%;
  height: 100vh;
  width: 100%;
  background-image: url(/assets/img/main-bg.jpg);
}

.info-block{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 120px;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.info-block h1 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.info-block h1 > p{
  font-size: 54px;
  font-family: 'RobotoBold', sans-serif;
  line-height: 64px;
  margin: 25px auto;
}

.info-block h1 > span{
  font-size: 28px;
  font-family: 'RobotoRegular', sans-serif;
  line-height: 32px;
  color: #eeeeee;
}

/* Main-section styles
-------------------------------------------------------------------------------*/

#services{
  background-image: url(/assets/img/section-bg.jpg);
  padding-top: 100px;
  padding-bottom: 80px;
}

#services .row{
  margin-top: -316px;
}

.services{
  font-size: 0px;
  text-align: center;
}

#services li.item{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 33%;
  min-width: 360px;
}

.services-element{
  width: 360px;
  margin: 0 auto;
  background: #ffffff;
  color: #333333;
}

.service-media{
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 216px;
}

.service-media > img{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.service-media:hover > img{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: all 1.3s ease-in-out;
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
}

.service-body{
  padding: 25px 15px 35px;
  text-align: center;
}

.service-body > .title{
  text-transform: uppercase;
  color: #006db7;
  font-size: 22px;
  font-family: "RobotoBold";
  line-height: 28px;
  height: 56px;
  width: 80%;
  margin: 0 auto 25px;
}

.service-body > .text{
  line-height: 22px;
  font-size: 14px;
  min-height: 200px;
}

/* Advantages-section styles
-------------------------------------------------------------------------------*/

#about{
  background-color: #fff;
  padding: 75px 50px;
}

.heading{
  text-align: center;
  margin-bottom: 25px;
}

.heading > h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
  margin-bottom: 15px;
  font-family: "RobotoBold";
  color: #333333;
}

.heading > p{
  font-family: "RobotoLight";
  line-height: 22px;
  color: #777;
  font-size: 13px;
}

/* Process-section styles
-------------------------------------------------------------------------------*/

#advantages {
  background-color: #2c3741;
  font-size: 0px;
  position: relative;
}

#advantages .column{
  display: inline-block;
  width: 50%;
  font-size: 14px;
  text-align: right;
}

#advantages .background {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
}

#advantages .background > span {
  background-image: url(/assets/img/process.jpg);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#advantages .column > .container{
  padding: 75px 50px;
  max-width: 600px;
  display: inline-block;
  text-align: center;
}

#advantages .heading > h2{
  color: #ffffff;
}

#advantages .heading > p{
  color: #dddddd;
}

.advantages-list{
  margin-top: 50px;
}

.advantage-box{
  color: #ffffff;
  font-size: 0;
  text-align: left;
}

.advantage-box .icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
}

.advantage-box .icon > i{
  font-size: 36px;
}

.advantage-box .title{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  line-height: 24px;
  font-family: "RobotoBold";
  margin-left: -70px;
  padding-left: 100px;
}

/* Details-section styles
-------------------------------------------------------------------------------*/

#details {
  background-color: #ffffff;
  padding: 75px 50px;
}

/* Footer styles
-------------------------------------------------------------------------------*/

#footer{
  height: 80px;
  padding: 10px 0px;
  position: relative;
  background-color: #25272e;
  background-image: url(/assets/img/footer-bkg.png);
  text-align: center;
}

#footer > .container{
  position: relative;
  width: 100%;
  height: 100%;
}

.copyright{
  color: #ffffff;
}

#root{
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px;
}

#root:after {
  content: "";
  display: block;
  height: 80px;
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Print styles
-------------------------------------------------------------------------------*/

@media print {

}


