/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style placeholders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* let's give blockquotes *some* default styling, because unstyled blockquotes are dangerous */
blockquote {padding: 16px; background: #eee;}

/* Standart styles
-------------------------------------------------------------------------------*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header styles
-------------------------------------------------------------------------------*/

#header{
  width: 100%;
  background: #fff;
  background-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-inner {
  padding: 20px 0;
}

.main-nav{
  position: relative;
  text-align: left;
}

#logo{
  height: 40px;
  margin-top: 5px;
  display: inline-block;
}

#logo img {
  height: 100%;
  width: auto;
  max-width: none;
}

#menu {
  float: right;
  text-align: right;
  height: 50px;
}

#menu > li{
  display: inline-block;
  padding: 15px 10px;
  position: relative;
}

#menu li > a{
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#menu li > a:after{
  content: "";
  width: 100%;
  bottom: 0;
  background: transparent;
  height: 2px;
  left: 0;
  position: absolute;
}

#menu li > a.selected{
  color: #006db7;
  pointer-events: none;
  cursor: default;
}

#menu li > a:hover{
  color: #006db7;
}

#menu li > a:hover:after{
  background: #006db7;
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Print styles
-------------------------------------------------------------------------------*/

@media print {

}


